.double-form-container{
    background-color: #fff;
    transition: all 0.5s;
}

.double-form-container__form--next{
    margin-right: -100%;
}

.double-form-container__form--previous{
    margin-left: 100%;
}

.double-form-container__form--disabled{
    margin-right: 100vw;
    transition: all 0.5s;
}

.double-form-container__form-input--disabled{
    cursor: no-drop;
    user-select: none;
}

.double-form-container__form-button:hover{
    background-color: #4583a0;
}

.double-form-container__form-status--active{
    color: #106806;
}

.double-form-container__form-status--inactive{
    color: #680606;
}