.forms-container{
    display: flex;
}

.double-form-container{
    height: 100%;
    min-width: 100%;
    max-height: 100%;
    grid-area: double-form-container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
                "form1 form2"
                "_____ form2";
}

.double-form-container__form{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
    max-width: 450px;
    width: 100%;
    max-height: 100%;
    height: fit-content;
    margin: auto;
}

.double-form-container__form-title{
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 1.2em;
    text-align: center;
}

.double-form-container__left-form{
    grid-area: form1;
    gap: 10px;
}

.double-form-container__right-form{
    grid-area: form2;
}

.double-form-container__form-label{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.05em;
}

.double-form-container__form-input, .double-form-container__form-combobox{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.double-form-container__form-button{
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    max-width: fit-content;
}

.double-form-container__form-button--margin{
    margin-top: 20px;
}