/* Reset de los estilos */
@import url("../base/reset-syle.css");

/* Layout de la pagina de todos los clientes */
@import url("../layout/all-users_layout.css");

/* Tema de la página de todos los clientes */
@import url("../theme/all-users_style.css");

/* Estilos del header */
@import url("components/header_style.css");

/* Estilos para el form de actualizar */
@import url("components/double-form_style.css");

#btnGenerarExcel{
    position: absolute;
    top: 82px;
    right: 16px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #4c77af;
}

#btnGenerarExcel > i{
    margin-right: 3px;
}

#btnGenerarExcel:hover{
    background-color: #4583a0;
}