/* Reset de los estilos */
@import url("../base/reset-syle.css");

/* Layout de la pagina de todos los clientes */
@import url("../layout/all-users_layout.css");

/* Estilos del header */
@import url("components/header_style.css");

.gridjs-pages{
    display: flex;
}

.logo-container__img{
    width: 50px;
}

.acciones{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.acciones > i:first-child{
    color: rgb(11, 0, 168);
}

.acciones > i:last-child{
    color: rgb(172, 0, 0);
}