@import url("../base/reset-syle.css");

@import url("../layout/generate-report_layout.css");

/* Importacion de los estilos del header */
@import url("components/header_style.css");

/* Importacion de los estilos del form */
@import url("components/double-form_style.css");

/* Importacion de los estilos de la nota */
@import url("components/note_style.css");

/* Modificacion del tamaño de la imagen del logo */
.logo-container__img{
    width: 50px;
}

.double-form-container__form-title{
    margin-bottom: 0;
}

.acciones{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0px;
}

.row--elimated{
    font-weight: bold;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
}

.btn{
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid #999;
}

.btn:hover{
    background-color: #adadad;
}

div.acciones{
    display: flex;
    justify-content: center;
    gap: 20px;
}

div.acciones > i.fa-bell{
    color: rgb(179, 137, 1);
}

#btnTimbrarTodos{
    position: absolute;
    top: 105px;
    right: 23px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #4c77af;
}

#btnTimbrarTodos > i{
    margin-right: 3px;
}

#btnTimbrarTodos:hover{
    background-color: #4583a0;
}