form {
    color: #202020;
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

label {
display: block;
margin-top: 15px;
margin-bottom: 5px;
font-weight: bold;
}

input[type="text"],
input[type="file"] {
width: 100%;
border: 1px solid #ccc;
}

button {
background-color: #4c77af;
color: #fff;
}

button:hover {
background-color: #4583a0;
}