<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--======== Título ========-->
    <title>RG | Firmas y sellos</title>

    <!--======== Icono principal ========-->
    <link rel="icon" href="../Utilities/LOGO RG.jpg" type="image/x-icon">

    <!--======== Archivos css ========-->
    <link rel="stylesheet" href="../Source/css/module/main-page_style.css">

    <!--======== Archivos js ========-->
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Bloqueador de contenido en caso de que no se haya iniciado sesión -->
    <div id="blocker" class="content-blocker"></div>

    <!-- Header -->
    <header class="header">
        <div class="logo-container">
            <img src="../Utilities/LOGO RG.jpg" alt="RG" class="logo-container__img">
            <div class="logo-container__text-container">
                <h1 class="logo-container__text">GARCIA REYES Y ASOCIADOS</h1>
                <span class="line"></span>
                <h2>SERVICIOS CONTABLES FISCALES</h2>
            </div>
        </div>

        <h2 class="header__title">Módulo de Firmas y Sellos</h2>

        <nav class="header__navbar">
            <a href="pagina-principal.html" class="header__navbar-item"><i class="fa-solid fa-house"></i> Página principal</a>
            <button class="header__navbar-logout" id="btnLogout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</button>
        </nav>
    </header>
    <section class="card" id="btnDocumentControl">
        <img src="https://img.freepik.com/free-vector/document-vector-colorful-design_341269-1262.jpg?w=740&t=st=1703785703~exp=1703786303~hmac=aeeba60a4bb1bd562fe9cdc8debe203527b63c867496023eb1fdd121b8bf7fc1" alt="ver-clientes" class="card__img">
        <a href="#" class="card__link">Control de certificados</a>
    </section>

    <!-- Tarjeta para la sección "Clientes por vencer" -->
    <section class="card" id="btnWarningCustomers">
        <img src="https://img.freepik.com/free-vector/folder-concept-illustration_114360-3450.jpg?size=626&ext=jpg&ga=GA1.1.1668157491.1701210920&semt=sph" alt="ver-clientes" class="card__img">
        <a href="#" class="card__link">Certificados por vencer</a>
    </section>

    <!--======== Archivos js ========-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../Source/js/Client/app_modulo-csd-fiel.js"></script>
    <script type="module" src="../Source/js/btnLogout.js"></script>
</body>
</html>