<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--======== Título ========-->
    <title>RG | Generar relación de gastos</title>

    <!--======== Icono principal ========-->
    <link rel="icon" href="../Utilities/LOGO RG.jpg" type="image/x-icon">

    <!--======== Archivos css ========-->
    <link rel="stylesheet" href="../Source/css/module/generate-report_style.css">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet">


    <!--======== Archivos js ========-->
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="../Utilities/LOGO RG.jpg" alt="RG" class="logo-container__img">
            <div class="logo-container__text-container">
                <h1 class="logo-container__text">GARCIA REYES Y ASOCIADOS</h1>
                <span class="line"></span>
                <h2>SERVICIOS CONTABLES FISCALES</h2>
            </div>
        </div>

        <h2 class="header__title">Relación de gastos</h2>

        <nav class="header__navbar">
            <a href="pagina-principal.html" class="header__navbar-item"><i class="fa-solid fa-house"></i> Página principal</a>
            <button class="header__navbar-logout" id="btnLogout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</button>
        </nav>
    </header>

    <form method="POST" id="frmGenerarRelacionDeGastos" enctype="multipart/form-data" class="double-form-container__form double-form-container__left-form">
        <h3 class="double-form-container__form-title">Ingrese el archivo de Excel</h3>
        <div></div>
        <input type="file" name="archivoGastos" id="archivoGastos" class="double-form-container__form-input">

        <button type="submit" class="double-form-container__form-button">Ver datos</button>
    </form>

    <section class="info-container">
        <div id="lblSubTotal">Sub Total: $0.00</div>
        <div id="lblIva8">IVA 8%: $0.00</div>
        <div id="lblRetIva">Ret. IVA: $0.00</div>
        <div id="lblIeps">IEPS: $0.00</div>
        <div id="lblTotal">Total: $0.00</div>
        <div id="lblIva16">IVA: 16%: $0.00</div>
        <div id="lblRetIsr">Ret. ISR: $0.00</div>
        <div class="buttons-container">
            <button type="button" class="btn" id="btnGenerarExcel"><i class="fa-regular fa-file-excel"></i></button>
            <button type="button" class="btn" id="btnAgregarGasto"><i class="fa-solid fa-cart-plus"></i></button>
        </div>
    </section>

    <div class="table" id="table"></div>

    <!--======== Archivos js ========-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../Source/js/Client/LogicaRelaciones/app_generar-relacion-gastos.js"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
</body>
</html>