<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--======== Título ========-->
    <title>RG | Generar relación de gastos</title>

    <!--======== Icono principal ========-->
    <link rel="icon" href="../Utilities/LOGO RG.jpg" type="image/x-icon">

    <!--======== Archivos css ========-->
    <link rel="stylesheet" href="../Source/css/module/generate-report_style.css">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet">


    <!--======== Archivos js ========-->
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Bloqueador de contenido en caso de que no se haya iniciado sesión -->
    <div id="blocker" class="content-blocker"></div>

    <header class="header">
        <div class="logo-container">
            <img src="../Utilities/LOGO RG.jpg" alt="RG" class="logo-container__img">
            <div class="logo-container__text-container">
                <h1 class="logo-container__text">GARCIA REYES Y ASOCIADOS</h1>
                <span class="line"></span>
                <h2>SERVICIOS CONTABLES FISCALES</h2>
            </div>
        </div>

        <h2 class="header__title">Relación de gastos e ingresos</h2>

        <nav class="header__navbar">
            <a href="pagina-principal.html" class="header__navbar-item"><i class="fa-solid fa-house"></i> Página principal</a>
            <button class="header__navbar-logout" id="btnLogout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</button>
        </nav>
    </header>
    <div class="table" id="table"></div>

    <!--======== Archivos js ========-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../Source/js/Client/LogicaRelaciones/app_generar-relacion-gastos.js"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
</body>
</html>