<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--======== Título ========-->
    <title>RG | Agregar nuevo cliente</title>

    <!--======== Icono principal ========-->
    <link rel="icon" href="../Utilities/LOGO RG.jpg" type="image/x-icon">

    <!--======== Archivos css ========-->
    <link rel="stylesheet" href="../Source/css/module/new-user_style.css">

    <!--======== Archivos js ========-->
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Bloqueador de contenido en caso de que no se haya iniciado sesión -->
    <div id="blocker" class="content-blocker"></div>

    <!-- Header -->
    <header class="header">
        <div class="logo-container">
            <img src="../Utilities/LOGO RG.jpg" alt="RG" class="logo-container__img">
            <div class="logo-container__text-container">
                <h1 class="logo-container__text">GARCIA REYES Y ASOCIADOS</h1>
                <span class="line"></span>
                <h2>SERVICIOS CONTABLES FISCALES</h2>
            </div>
        </div>

        <h2 class="header__title">Agregar nuevo usuario</h2>

        <nav class="header__navbar">
            <a href="pagina-principal.html" class="header__navbar-item"><i class="fa-solid fa-house"></i> Página principal</a>
            <button class="header__navbar-logout" id="btnLogout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</button>
        </nav>
    </header>

    <!-- Formulario -->
    <form id="frmNuevoUsuario" class="double-form-container__form">
        <h3 class="double-form-container__form-title">Ingrese los datos del usuario</h3>
        <label for="txtNombreCompleto" class="double-form-container__form-label">Nombre completo:</label>
        <input type="text" name="txtNombreCompleto" id="txtNombreCompleto" class="double-form-container__form-input">

        <label for="txtNombreDeUsuario" class="double-form-container__form-label">Nombre de usuario:</label>
        <input type="text" name="txtNombreUsuario" id="txtNombreUsuario" class="double-form-container__form-input">

        <label for="txtPassword" class="double-form-container__form-label">Contraseña:</label>
        <input type="password" name="txtPassword" id="txtPassword" class="double-form-container__form-input">

        <label for="cmbGrupoClientes" class="double-form-container__form-label">Grupo de clientes:</label>
        <select name="cmbGrupoClientes" id="cmbGrupoClientes" class="double-form-container__form-combobox">
            <option value="A" selected>Clientes A</option>
            <option value="B">Clientes B</option>
            <option value="C">Clientes C</option>
            <option value="S">Puede ver todos</option>
        </select>

        <label for="cmbRol" class="double-form-container__form-label">Rol del usuario:</label>
        <select name="cmbRol" id="cmbRol" class="double-form-container__form-combobox">
            <option value="empleado" selected>Empleado</option>
            <option value="admin">Administrador</option>
        </select>

        <button type="button" class="double-form-container__form-button double-form-container__form-button--margin" id="btnAgregarUsuario">Agregar usuario</button>
    </form>

    <!--======== Archivos js ========-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../Source/js/app_nuevo-usuario.js"></script>
    <script type="module" src="../Source/js/btnLogout.js"></script>
</body>
</html>