<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--======== Título ========-->
    <title>RG I Agregar nuevo cliente</title>

    <!--======== Icono principal ========-->
    <link rel="icon" href="..//Utilities/LOGO RG.jpg" type="image/x-icon">

    <!--======== Archivos css ========-->
    <link rel="stylesheet" href="../Source/css/module/new-client_style.css">

    <!--======== Archivos js ========-->
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
</head>
<body>
    
</body>
</html>