<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--======== Título ========-->
    <title>RG I Agregar nuevo cliente</title>

    <!--======== Icono principal ========-->
    <link rel="icon" href="..//Utilities/LOGO RG.jpg" type="image/x-icon">

    <!--======== Archivos css ========-->
    <link rel="stylesheet" href="../Source/css/module/new-client_style.css">

    <!--======== Archivos js ========-->
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="blocker" class="content-blocker"></div>
    <header class="header">
        <div class="logo-container">
            <img src="../Utilities/LOGO RG.jpg" alt="RG" class="logo-container__img">
            <div class="logo-container__text-container">
                <h1 class="logo-container__text">GARCIA REYES Y ASOCIADOS</h1>
                <span class="line"></span>
                <h2>SERVICIOS CONTABLES FISCALES</h2>
            </div>
        </div>

        <h2 class="header__title">Agregar nuevo cliente</h2>

        <nav class="header__navbar">
            <a href="#" class="header__navbar-item">Ver todos</a>
            <a href="#" class="header__navbar-item">Agregar</a>
            <a href="#" class="header__navbar-item">Eliminar</a>
        </nav>
    </header>

    <main class="forms-container">
        <section class="double-form-container" id="DatosFirmaE">
            <form method="POST" id="frmValidarCertificadoFirma" enctype="multipart/form-data" class="double-form-container__form double-form-container__left-form">
                <h3 class="double-form-container__form-title">Ingrese el certificado de la Firme-e</h3>
                <input type="file" name="certificadoFirma" id="certificadoFirma" class="double-form-container__form-input">

                <button type="submit" class="double-form-container__form-button">Ver datos</button>
            </form>


            <div class="double-form-container__form double-form-container__right-form">
                <h3 class="double-form-container__form-title">Datos del certificado</h3>
                <label for="txtNombreEnFirma" class="double-form-container__form-label">Titular del certificado:</label>
                <input type="text" name="txtNombreEnFirma" id="txtNombreEnFirma" readonly disabled class="double-form-container__form-input">

                <label for="txtRfcEnFirma" class="double-form-container__form-label">RFC del titular:</label>
                <input type="text" name="txtRfcEnFirma" id="txtRfcEnFirma" readonly disabled class="double-form-container__form-input">

                <label for="txtFechaInicioEnFirma" class="double-form-container__form-label">Fecha de trámite del certificado:</label>
                <input type="text" name="txtFechaInicioEnFirma" id="txtFechaInicioEnFirma" readonly disabled class="double-form-container__form-input">

                <label for="txtFechaFinEnFirma" class="double-form-container__form-label">Fecha de vencimiento del certificado:</label>
                <input type="text" name="txtFechaFinEnFirma" id="txtFechaFinEnFirma" readonly disabled class="double-form-container__form-input">   

                <label class="double-form-container__form-label" id="StatusFirma"></label>
            </div>
        </section>

        <section class="double-form-container" id="DatosSello">
            <form method="POST" id="frmValidarCertificadoSello" enctype="multipart/form-data" class="double-form-container__form double-form-container__left-form">
                <h3 class="double-form-container__form-title">Ingrese el certificado del sello</h3>
                <input type="file" name="certificadoSello" id="certificadoSello" class="double-form-container__form-input">

                <button type="submit" class="double-form-container__form-button">Ver datos</button>
            </form>


            <div class="double-form-container__form double-form-container__right-form">
                <h3 class="double-form-container__form-title">Datos del certificado</h3>
                <label for="txtNombreEnSello" class="double-form-container__form-label">Titular del certificado:</label>
                <input type="text" name="txtNombreEnSello" id="txtNombreEnSello" readonly disabled class="double-form-container__form-input">

                <label for="txtRfcEnSello" class="double-form-container__form-label">RFC del titular:</label>
                <input type="text" name="txtRfcEnSello" id="txtRfcEnSello" readonly disabled class="double-form-container__form-input">

                <label for="txtFechaInicioEnSello" class="double-form-container__form-label">Fecha de trámite del certificado:</label>
                <input type="text" name="txtFechaInicioEnSello" id="txtFechaInicioEnSello" readonly disabled class="double-form-container__form-input">

                <label for="txtFechaFinEnSello" class="double-form-container__form-label">Fecha de vencimiento del certificado:</label>
                <input type="text" name="txtFechaFinEnSello" id="txtFechaFinEnSello" readonly disabled class="double-form-container__form-input">   

                <label class="double-form-container__form-label" id="StatusSello"></label>
            </div>
        </section>

        <section class="double-form-container" id="DatosFirmaEas">
            <form method="POST" id="frmValidarCertificadoFirma" enctype="multipart/form-data" class="double-form-container__form double-form-container__left-form">
                <h3 class="double-form-container__form-title">Ingrese el certificado de la Firme-e</h3>
                <input type="file" name="certificadoFirma" id="certificadoFirma" class="double-form-container__form-input">

                <button type="submit" class="double-form-container__form-button">Ver datos</button>
            </form>


            <div class="double-form-container__form double-form-container__right-form">
                <h3 class="double-form-container__form-title">Datos del certificado</h3>
                <label for="txtNombreEnFirma" class="double-form-container__form-label">Titular del certificado:</label>
                <input type="text" name="txtNombreEnFirma" id="txtNombreEnFirma" readonly disabled class="double-form-container__form-input">

                <label for="txtRfcEnFirma" class="double-form-container__form-label">RFC del titular:</label>
                <input type="text" name="txtRfcEnFirma" id="txtRfcEnFirma" readonly disabled class="double-form-container__form-input">

                <label for="txtFechaInicioEnFirma" class="double-form-container__form-label">Fecha de trámite del certificado:</label>
                <input type="text" name="txtFechaInicioEnFirma" id="txtFechaInicioEnFirma" readonly disabled class="double-form-container__form-input">

                <label for="txtFechaFinEnFirma" class="double-form-container__form-label">Fecha de vencimiento del certificado:</label>
                <input type="text" name="txtFechaFinEnFirma" id="txtFechaFinEnFirma" readonly disabled class="double-form-container__form-input">   

                <label class="double-form-container__form-label" id="StatusFirma"></label>
            </div>
        </section>
    </main>

    <footer class="progress-bar">
        <button class="double-form-container__form-button" id="btnAnterior">Anterior</button>

        <section class="progress-bar__levels-container">
            <h3 class="progress-bar__levels-container-level progress-bar__levels-container-level--complete"><span>Firma</span></h3>
            <h3 class="progress-bar__levels-container-level" id="level2"><span>Sello</span></h3>
            <h3 class="progress-bar__levels-container-level" id="level3"><span>Listo!</span></h3>
        </section>

        <button class="double-form-container__form-button" id="btnSiguiente">Siguiente</button>
    </footer>

    <!--======== Archivos js ========-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../Source/js/app_nuevo-certificado.js"></script>
</body>
</html>