<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RG I Agregar nuevo cliente</title>

    <link rel="icon" href="..//Utilities/LOGO RG.jpg" type="image/x-icon">

    <!--======== Archivos css ========-->
    <link rel="stylesheet" href="../Source/css/module/new-client_style.css">

    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="../Utilities/LOGO RG.jpg" alt="RG" class="logo-container__img">
            <div class="logo-container__text-container">
                <h1 class="logo-container__text">GARCIA REYES Y ASOCIADOS</h1>
                <span class="line"></span>
                <h2>SERVICIOS CONTABLES FISCALES</h2>
            </div>
        </div>

        <h2 class="page-title">Agregar nuevo cliente</h2>

        <nav class="navbar">
            <a href="#" class="navbar_item">Página principal</a>
        </nav>
    </header>

    <main>
        <section>
            <form method="post" id="frmValidarCertificado" enctype="multipart/form-data">
                <h3>Ingrese el certificado de la Firme-e</h3>
                <input type="file" name="certificadoFirma" id="certificadoFirma">
    
                <button type="submit">Ver datos</button>
            </form>
    
    
            <form method="post" id="frmGuardarCertificado">
                <label for="txtNombre">Titular del certificado:</label>
                <input type="text" name="txtNombre" id="txtNombre" readonly disabled>

                <label for="txtRFC">RFC del titular:</label>
                <input type="text" name="txtRFC" id="txtRFC" readonly disabled>
    
                <label for="txtFechaInicio">Fecha de trámite del certificado:</label>
                <input type="text" name="txtFechaInicio" id="txtFechaInicio" readonly disabled>
    
                <label for="txtFechaFin">Fecha de vencimiento del certificado:</label>
                <input type="text" name="txtFechaFin" id="txtFechaFin" readonly disabled>   

                <label><i class="fa-solid fa-circle" style="color: #106806;"></i> Vigente</label>
            </form>
        </section>

        <!-- <section>
            <form method="post" id="frmValidarCertificado" enctype="multipart/form-data">
                <h3>Ingrese el certificado del sello</h3>
                <input type="file" name="certificadoFirma" id="certificadoFirma">
    
                <button type="submit">Ver datos</button>
            </form>
    
    
            <form method="post" id="frmGuardarCertificado">
                <label for="txtNombre">Titular del certificado:</label>
                <input type="text" name="txtNombre" id="txtNombre" readonly disabled>

                <label for="txtNombre">RFC del titular:</label>
                <input type="text" name="txtNombre" id="txtNombre" readonly disabled>
    
                <label for="txtFechaInicio">Fecha de trámite del certificado:</label>
                <input type="text" name="txtFechaInicio" id="txtFechaInicio" readonly disabled>
    
                <label for="txtFechaFin">Fecha de vencimiento del certificado:</label>
                <input type="text" name="txtFechaFin" id="txtFechaFin" readonly disabled>

                <label><i class="fa-solid fa-circle" style="color: #106806;"></i> Vigente</label>
            </form>
        </section> -->
    </main>

    <script src="../Source/js/CertificadoRequest.js"></script>
</body>
</html>