<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--======== Título ========-->
    <title>RG | Agregar nuevo cliente</title>

    <!--======== Icono principal ========-->
    <link rel="icon" href="..//Utilities/LOGO RG.jpg" type="image/x-icon">

    <!--======== Archivos css ========-->
    <link rel="stylesheet" href="../Source/css/module/main-page_style.css">

    <!--======== Archivos js ========-->
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Bloqueador de contenido en caso de que no se haya iniciado sesión -->
    <div id="blocker" class="content-blocker"></div>

    <!-- Header -->
    <header class="header">
        <div class="logo-container">
            <img src="../Utilities/LOGO RG.jpg" alt="RG" class="logo-container__img">
            <div class="logo-container__text-container">
                <h1 class="logo-container__text">GARCIA REYES Y ASOCIADOS</h1>
                <span class="line"></span>
                <h2>SERVICIOS CONTABLES FISCALES</h2>
            </div>
        </div>

        <h2 class="header__title">Página principal</h2>

        <nav class="header__navbar">
            <a></a>
            <button class="header__navbar-logout" id="btnLogout">Cerrar sesión</button>
        </nav>
    </header>

    <!-- Tarjeta para la sección "Nuevo cliente" -->
    <section class="card" id="btnNewCustomer">
        <img src="https://img.freepik.com/free-vector/chatbot-customer-service-abstract-concept_335657-3037.jpg?size=626&ext=jpg&ga=GA1.1.1668157491.1701210920&semt=ais" alt="nuevo-cliente" class="card__img">
        <a class="card__link">Nuevo Cliente</a>
    </section>

    <!-- Tarjeta para la sección "Ver clientes" -->
    <section class="card" id="btnAllCustomers">
        <img src="https://img.freepik.com/free-vector/grades-concept-illustration_114360-618.jpg?size=626&ext=jpg&ga=GA1.1.1668157491.1701210920&semt=ais" alt="ver-clientes" class="card__img">
        <a href="#" class="card__link">Todos Los Clientes</a>
    </section>

    <!-- Tarjeta para la sección "Clientes por vencer" -->
    <section class="card" id="btnWarningCustomers">
        <img src="https://img.freepik.com/free-vector/removing-goods-from-basket-refusing-purchase-changing-decision-item-deletion-emptying-trash-online-shopping-app-laptop-user-cartoon-character-vector-isolated-concept-metaphor-illustration_335657-2843.jpg?size=626&ext=jpg&ga=GA1.1.1668157491.1701210920&semt=ais" alt="ver-clientes" class="card__img">
        <a href="#" class="card__link">Clientes Por Vencer</a>
    </section>

    <!-- Tarjeta para la sección "Nuevo usuario" -->
    <section class="card" id="btnNewUser">
        <img src="https://img.freepik.com/free-vector/accept-request-concept-illustration_114360-3219.jpg?size=626&ext=jpg&ga=GA1.1.1668157491.1701210920&semt=ais" alt="nuevo-usuario" class="card__img">
        <a class="card__link">Nuevo Usuario</a>
    </section>

    <!-- Tarjeta para la sección "Ver usuarios" -->
    <section class="card" id="btnAllUsers">
        <img src="https://img.freepik.com/free-vector/social-network-online-dating-service-chatting-internet-communication-girl-cartoon-character-looking-profiles-with-photo-social-media-concept-illustration_335657-2041.jpg?size=626&ext=jpg&ga=GA1.1.1668157491.1701210920&semt=ais" alt="nuevo-usuario" class="card__img">
        <a class="card__link">Todos Los Usuarios</a>
    </section>

    <!-- Tarjeta para la sección "Agregar usuarios por lotes" -->
    <section class="card" id="btnUseAutoUpdateService">
        <img src="https://img.freepik.com/free-vector/social-network-online-dating-service-chatting-internet-communication-girl-cartoon-character-looking-profiles-with-photo-social-media-concept-illustration_335657-2041.jpg?size=626&ext=jpg&ga=GA1.1.1668157491.1701210920&semt=ais" alt="nuevo-usuario" class="card__img">
        <a class="card__link">Auto Update Service</a>
    </section>

    <!--======== Archivos js ========-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../Source/js/app_pagina-principal.js"></script>
    <script type="module" src="../Source/js/btnLogout.js"></script>
</body>
</html>