<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información del certificado</title>

    <!--======== Icono principal ========-->
    <link rel="icon" href="..//Utilities/LOGO RG.jpg" type="image/x-icon">
</head>
<body>
    <button id="btnVerDatos">Ver datos del certificado</button>

    
    <table id="myTable">
        <thead class="table__header">
            <th>Nombre del cliente</th>
            <th>Fecha de inicio de validez</th>
            <th>Fecha de fin de validez</th>
            <th>Emisor</th>
        </thead>
        <tbody id="Contenedor">

        </tbody>
    </table>

    <script src="../Source/js/CertificadoRequest.js"></script>
</body>
</html>