body{
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
                "header header header"
                "menu double-form-container ."
}

div.acciones{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gridjs-pages{
    display: flex;
}

header.header > div.logo-container > img.logo-container__img{
    width: 50px;
}