body
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px repeat(2, 1fr);
    grid-template-areas: "header header header"
                        ". . ."
                        ". . .";
}